body{
    padding: 0%;
    margin: 0%;
}
nav,ul{
    display: flex;
    gap: 22px;
}
li{
     list-style: none;
}
nav{
    padding-top: px;
    margin-bottom: 22px;
    border:2px solid blue;
    background-color: bisque;
    border-radius: 9px;
}
